<<<<<<< HEAD
@import "tailwindcss";
=======
>>>>>>> origin/main
@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
=======
@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
>>>>>>> origin/main
